/* =========================================================
   CADASTRO DE PESSOA FISICA E JURIDICA STYLESHEET
   Autor: Wesley Silva
   Tema: Coony | Estilo do formulário de cadastro de pessoa física e jurídica
   ========================================================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --white: #fff;
  --black: #ED864B;      /* laranja principal */
  --lightBulue: #eb9766; /* laranja claro / hover */

  --text-dark: #333;
  --text-light: #666;
  --bg-light: #f2f4f7;
  --border-light: #e6e9ef;
}

/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* DEFININDO O TAMANHO DA PÁGINA INTEIRA SENDO 100% */

html, body {
    height: 100%;
}

/* CABEÇALHO */

header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    font-size: 12px;
    align-items: center;
}

.icon {
    width: 18px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    width: 18px;
    height: 15px;
}

.help-icon {
    width: 36px;
    height: 36px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.help-icon {
    width: 36px;
    height: 36px;
}

.help-icon img {
    width: 36px;
    height: 36px;
}

/* WRAPPER */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* OPTIONS */

.options {
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options select {
    cursor: pointer;
    appearance: none;
    outline: none;
    width: 18rem;
    height: 1.8rem;
    border: 1px solid var(--black);
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    font-size: 13px;
    text-align: center;
    background: url("../img/tag\ 1.svg") no-repeat left 8px center, url("../img/seta-direita\ 2.svg") no-repeat right 8px center;
}

/* FORMULÁRIO */

main form {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .labels {
    width: 80%;
    font-size: 13px;
    font: bold;
}

.form-input {
    height: 2.25rem;
    border-radius: 10px;
    border: solid;
    border-width: 1.5px;
    border-color: var(--black);
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 10px;
    width: 18rem;
}

/* TERMOS */

.termos {
    padding: 1rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    justify-content: center;
}

.termos input {
    display: none;
}

.termos span {
    width: 16px;
    height: 16px;
    background-color: white;
    
    
    border: 1px solid var(--black);
    border-radius: 3px;
    
    cursor: pointer;

}

.termos input:checked + span{
    background-color: var(--black);
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.termos label {
    font-size: 11px;
}

.termos-de-uso, .uso-de-dados {
    display: flex;
    width: 12rem;
    padding: 5px;
    color: var(--black);
    align-items: center;
    gap: 7px;
}

/* BOTÃO DE PRÓXIMO */

.button-next {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.button-next button {
    width: 13.63rem;
    height: 2.82rem;
    border-radius: 13px;
    border: none;
    background-color: var(--black);
    font-size: 18px;
    background: url("../img/seta-proximo.svg") no-repeat right 13px center, var(--black);
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}
