/**

    ALERTA: CSS ilustrativo, ainda será ajustado para o CSS padrão no app.


**/

body {
  background-color: #f6f2ee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

/* --- Menu lateral--- */
.sidebar {
  width: 250px;
  background-color: #fffafa;
  border-right: 1px solid #e0ddd9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
}


nav {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.menu-item {
  background: #fff;
  border: none;
  padding: 10px 14px;
  text-align: left;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f1883d;
  color: #fff;
}

/* --- Chat --- */
.chat-app {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f6f2ee;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f2ee;
  padding: 10px 16px;
  border-bottom: 1px solid #e0ddd9;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info h3 {
  font-size: 15px ;
  font-family: "Montserrat";
  margin-bottom: 0px;

}

.user-info p {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

.header-icons .icon {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.header-icons .icon img{

    width: 30px;

}

.chat-body {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
  position: relative;
}

.message h3,
.message p,
.received h3,
.received p{

  margin: 0;

}

.message h3,
.received h3{

  margin-bottom: 8px;

}


.message .bubble {
  padding: 12px 16px;
  border-radius: 14px;
  font-size: 14px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.sent {
  justify-content: flex-end;
}

.message.sent .bubble {
  background-color: #f1883d;
  color: white;
  border-bottom-right-radius: 0;
  width: 8%;

}

.message.received .bubble {
  background-color: white;
  border: 1px solid #ececec;
  color: black;
  border-bottom-left-radius: 0;
}

.message img.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 16px;
}

.time {
  font-size: 10px;
  color: #999;
  position: absolute;
  bottom: -14px;
}

.message.sent .time {
  right: 65px;
}

.message.received .time {
  left: 65px;
}

.chat-footer {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e0ddd9;
}

.chat-footer input {
  flex: 1;
  border: none;
  border-radius: 20px;
  padding: 10px 14px;
  font-size: 14px;
  outline: none;
  background: #f6f2ee;
}

.chat-footer button {
  background-color: #ec8441;
  border: none;
  color: #fff;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease;
  filter: drop-shadow(2px 4px 6px rgba(29, 26, 26, 0.08));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.sendBtn img{
 border-radius: var(--raio);
}

.chat-footer button img {
  width: 40px;
  height: 30px;
  object-fit: contain;
}

.chat-footer button:hover{

    transform: scale(1.2);
    filter: drop-shadow(2px 4px 6px #bcbcbc);

}

/* --- Para celular --- */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .chat-app {
    width: 100%;
    height: 100vh;
  }

  .chat-footer input {
    background: #fff;
  }
}
