/* =========================================================
   PÓS CADASTRO DE PESSOA FISICA E JURIDICA STYLESHEET
   Autor: Wesley Silva
   Tema: Coony | Estilo da tela pós cadastro de pessoa física e jurídica
   ========================================================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --white: #fff;
    --black: #ED864B;
    /* laranja principal */
    --lightBulue: #eb9766;
    /* laranja claro / hover */

    --text-dark: #333;
    --text-light: #666;
    --bg-light: #f2f4f7;
    --border-light: #e6e9ef;
}

/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* DEFININDO O TAMANHO DA PÁGINA INTEIRA SENDO 100% */

html,
body {
    height: 100%;
}

/* CABEÇALHO */

header {
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    font-size: 12px;
    align-items: center;
}

.icon {
    width: 18px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    width: 18px;
    height: 15px;
}

.help-icon {
    width: 36px;
    height: 36px;

    display: flex;

    justify-content: center;
    align-items: center;
}

.help-icon {
    width: 36px;
    height: 36px;
}

.help-icon img {
    width: 30px;
    height: 30px;
}

/* WRAPPER */

.wrapper {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAIN */

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

/* BOTÃO DE PRÓXIMO */

.button-next {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 0.7rem;
    align-items: center;
    height: 4rem;
}

.button-next button {
    width: 13.63rem;
    height: 2.82rem;
    border-radius: 13px;
    border: none;
    background-color: var(--black);
    font-size: 18px;
    background: url("../img/seta-proximo.svg") no-repeat right 13px center, var(--black);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;

    cursor: pointer;
}

/* IMAGEM E INFORMAÇÃO SOBRE A PÁGINA */

.page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    align-items: center;
}

.image-page {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-page {
    display: flex;
    height: 2.25rem;
    border-radius: 10px;
    border: solid;
    border-width: 1.5px;
    border-color: var(--black);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 10px;
    width: 16rem;
    align-items: center;
    justify-content: center;
}

.image-page img {
    width: 12rem;
    border: var(--black) solid 1px;
    border-radius: 13px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

/* DADOS CADASTRADOS */

.data-user {
    padding-top: 18px;
    width: 17rem;
    display: flex;
    flex: 1;
    align-self: center;
    align-items: center;
}

.data-user ul {

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.data-user ul li::marker {
    color: var(--black);
}

/* RODAPÉ */

footer {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-info-page {
    width: 76px;
}