*{
  margin: 0;
  padding: 0;
  background-color: #FFFAFA;
}

.reset-header h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.reset-header h3 {
  text-align: center;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  margin-top: 60px;
}

.info-text {
  text-align: center;
  color: #000000;
  opacity: 0.7;
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  font-size: 14px;
}

.code-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

.code {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ED6C4B;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
}

.code:focus {
  border-color: #EC8441;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.reset-actions p{
  margin-top: 60px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
  font-family: 'Inter', sans-serif;
}

.resend-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  font-family: 'Inter', sans-serif;
  padding-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.bar {
  display: flex;
  flex-direction: column;
  align-items: center
}

.bar p{
  color: black;
  font-family: 'Inter', sans-serif;
  text-align: right;
  width: 300px;      
  margin-top: 40px;
}

.status-bar-container {
  width: 300px;              
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

progress {
  width: 300px;
  height: 9px;
  overflow: hidden;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #CBCBCB;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #EC8441;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #EC8441;
  border-radius: 5px;
}

button {
  margin: 50px auto 0 auto;
  width: 300px;
  height: 50px;
  background-color: #EC8441;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
