* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
body {
    background-color: #FFFAFA;
    color: #6B7280;
}
header {
    position: relative;
    text-align: center;
    padding: 40px 50px;
    margin: 0 auto;
}

header h1 {
    color: #000000;
    opacity: 60%;
    font-size: 20px;
}

.seta-voltar {
    color: #EC8441;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.container h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
    opacity: 60%;
}

.botao-opcao {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #EC8441;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    justify-content: center;
    background-color: #FFFAFA;
    color:#6B7280;
}

.botao-opcao .titulo {
    font-size: 13px;
    margin-bottom: 4px;
    margin-right: 10px;
}

.botao-opcao .dado {
    font-size: 15px;
}

.botao-opcao .material-symbols-outlined{
    color: #EC8441; 
    font-size: 30px;
    margin-right: 40px;
}

.botao-acao {
    width: 100%;
    padding: 18px;
    border-radius: 15px;
    background-color: #EC8441;
    color: #FFFAFA;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.botao-acao:hover {
    background-color: #DE7633;
    transition: 0.3s;
}

@media (max-width: 600px) {
    

    .box-ilustracao {
        display: flex;
    }

    .container {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px; 
        max-width: 100%; 
    }
    
    header {
        padding: 20px 20px;
        margin-top: 10px;

    }

    .container h2 {
        text-align: center;
        margin-bottom: 30px; 
    }

    .seta-voltar {
        left: 20px; 
    }
}